
* {
  box-sizing: border-box;
}

footer {
  bottom: 0;
  padding: 1em;
  position: absolute;
  right: 0;
}

h1 + h2 {
  font-weight: 100;
}

html, body {
  font-size: 130%;
  height: 100%;
  margin: 0 auto;
  max-width: 60em;
}

section {
  height: 100%;
  overflow: scroll;
  position: relative;
}

article:after,
article:before {
  content: " ";
  display: table;
}
article:after {
  clear: both;
}


pre code {
  display: block;
  margin: 0 auto;
  max-width: 60em;
}
pre {
  border-radius: 0 !important;
}

.token.operator {
  background: transparent;
}

.menu {
  display: none;
}

