[class^="slide"] {}

.slide--content {
  padding: 0 1em;
}

blockquote {
  border-left: 10px solid gainsboro;
  padding: 1ex;
  padding-left: 1em;
}

blockquote p {
  margin: 0;
  padding: 0;
}

code,
pre {
  background: gainsboro;
  background: rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .3);
}

.slide--content h2 {
  border-bottom: 1px solid;
}

.slide--content h3 {
  font-weight: 100;
}

pre code {
  background: transparent;
  border: 0;
}

.slide--title {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide--title article {
  margin: 0 auto;
  text-align: center;
}

.slide--title h1 + h2 {
  margin-left: 5em;
  margin-right: 5em;
}

.slide--title h1 + p {
  margin-left: 8em;
  margin-right: 8em;
}
